/*fonts*/

@font-face {
    font-family: 'Nunito Sans';
    src: url('./fonts/NunitoSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('./fonts/NunitoSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Yeseva One';
    src: url('./fonts/YesevaOne-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/*common*/
.page {
    margin: 0;
    font-family: 'Nunito Sans', Arial;
    font-style: normal;
    font-weight: 400;
}

.page * {
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: 0px;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: italic;
    color: white;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
}

.title {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    margin: 0;
}

.subtitle {
    margin: 0;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
}

.input {

}

/*header*/

.header-container {
    min-height: 83px;
    padding: 0 90px 0 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
}

.header {
    background: #131313;
}

.header__logo {
    color: #E3B873;
}

.header__menu {
    display: flex;
}
.header__menu-item {
    margin-right: 47px;
    list-style: none;
}

.header__menu-link {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.header__menu-link:hover {
    color: #E3B873;
}

.header__phone {
    color: #E3B873;
}

.header__button {
    padding: 13px 33px;
}

/*main*/

.section__main {
    background: url('./images/image_section1.jpg');
    background-size: cover;
    height: 707px;
    position: relative;
}

.section__main::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}

.section__main-container {
    padding-top: 194px;
    padding-left: 134px;
    position: relative;
    z-index: 1;
}

.section__main-title {
    margin: 0;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.is-orange {
    color: #E3B873;
}

.section__main-p {
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    margin-top: 19px;
    margin-bottom: 41px;
}

.section__main-button {
    width: 207px;
    min-height: 51px;
    margin-right: 20px;
    background:#E3B87300;
    border: 1px solid #FFFFFF;
    cursor: pointer;
}

.section__main-button:hover {
    border: 0;
    background:#E3B873;
}

.section__completed {
    background: #131313;
    height: 1074px;
}

.section__completed-container {
    padding-left: 134.55px;
    padding-top: 107px;
}

.section__completed-head {
    display: flex;
    justify-content: flex-start;
    margin-left: 492px;
    margin-bottom: 45.36px;
}

.section__completed-head-item {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    margin-right: 60.5px;
    padding-bottom: 6.68px;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px solid #E3B87300;
}

.section__completed-head-item:hover {
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
}

.section__completed-main {
    display: flex;
    flex-direction: row;
    
}
.section__completed-left {
    width: 442px;
    min-height: 482px;
    margin-right: 50px;
}

.section__completed-p {
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    margin: 34px 0 42px;
}

.section__completed-spec {
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    grid-template-rows: auto;
}

.section__completed-spec-subtitle {
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}

.section__completed-spec-p {
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    margin: 9px 0 34px;
}

.slider {
    width: 206px;
    height: 14px;
    margin-top: 45px;
}

.section__completed-right {
    width: 679px; 
    height: 482px;
}



